In [1]:
"Vrishi Raj Kesarwani"

'Vrishi Raj Kesarwani'

In [2]:
print("Vrishi")

Vrishi

In [3]:
print("Vrishi)

SyntaxError: EOL while scanning string literal (2549965770.py, line 1)

In [4]:
print("Raj")

Raj

In [5]:
print("1,2,3")

1,2,3

In [6]:
print(1,2,3)

1 2 3

In [7]:
print('Brahmastra',2022)

Brahmastra 2022

In [8]:
print('this is a line')
print('another line')
print('and the final text line')

this is a line
another line
and the final text line

In [9]:
a=10
print(a)

10

In [10]:
a=20
b=30
print(b,c)

NameError: name 'c' is not defined

In [11]:
a=20
b=30
print(a,b)

20 30

In [12]:
city='lucknow'
state='uttar pradesh'
name='vrishi'

In [13]:
name='raj'

In [14]:
n1,n2='vrishi','raj'

In [15]:
food=input()

In [16]:
pizza
burger

NameError: name 'pizza' is not defined

In [17]:
food=input()

In [18]:
a='apple'
type(a)

str

In [19]:
a=101
type(a)

int

In [26]:
a='300+'
print(a,type(a))

300+ <class 'str'>

In [21]:
b=int(a)

In [23]:
print(b,type(b))
print(a,type(a))

300 <class 'int'>
300 <class 'str'>

In [28]:
a=input("enter A=")
b=input("enter B=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)

<class 'str'> <class 'str'>
24

In [29]:
num1=int(input("enter num"))
num2=int(input("enter num"))
ans=num1+num2
print(ans)

245