Dictionary

In [1]:
x = [1,2,3,4]

In [2]:
emp = ['amar','deep','finance',2000,2300,10000,True,False,'acme']

In [3]:
# to make the aabove information more accurate and precise we use dictionary
emp_dict = {'fname':'Amar',
            'lname':'deep',
            'dept':'finance',
            'age':31,
            'salary':10000,
            'bonus':30000,
            'is_manager' :True,
            'is_executive':False,
            'company':'Acme'}

In [4]:
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme'}

In [5]:
# complex data

weather_data = {
                'date' : '2022-01-01',
                'temp'  : 32,
                'details': { 'humidity': 80,
                             'wind': 10,
                             'pressure': 30,
                             'aqi': 120 },

'city' : 'Lucknow',
'type' : 'sunshine',
'icon' : 'ðŸŒž'
}

In [6]:
print(weather_data)

{'date': '2022-01-01', 'temp': 32, 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'city': 'Lucknow', 'type': 'sunshine', 'icon': 'ðŸŒž'}

In [7]:
weather_data.keys()

dict_keys(['date', 'temp', 'details', 'city', 'type', 'icon'])

In [8]:
list(weather_data.keys())

['date', 'temp', 'details', 'city', 'type', 'icon']

In [9]:
weather_data.values()

dict_values(['2022-01-01', 32, {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}, 'Lucknow', 'sunshine', 'ðŸŒž'])

In [10]:
emp_dict.keys()

dict_keys(['fname', 'lname', 'dept', 'age', 'salary', 'bonus', 'is_manager', 'is_executive', 'company'])

In [11]:
weather_data['details']

{'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}

In [12]:
weather_data['location']         #key error in case of absence of the key value

KeyError: 'location'

In [ ]:
weather_data.get('temp')

32

In [ ]:
wether_data.get('location')

NameError: name 'wether_data' is not defined

In [ ]:
weather_data.get('city','not found')

'Lucknow'

In [ ]:
weather_data.get('location','not found')

'not found'

In [ ]:
# looping over a dictionary

In [ ]:
for k in emp_dict:
    print(k)

fname
lname
dept
age
salary
bonus
is_manager
is_executive
company

In [ ]:
for k in emp_dict:
    print(k,'=',emp_dict[k])

fname = Amar
lname = deep
dept = finance
age = 31
salary = 10000
bonus = 30000
is_manager = True
is_executive = False
company = Acme

In [ ]:
# looping over a dictionary using items()

In [ ]:
for k , v in emp_dict.items():
    print(k,'=>,v')

fname =>,v
lname =>,v
dept =>,v
age =>,v
salary =>,v
bonus =>,v
is_manager =>,v
is_executive =>,v
company =>,v

In [ ]:
# updating an entry in dictionary

In [ ]:
emp_dict.items()

dict_items([('fname', 'Amar'), ('lname', 'deep'), ('dept', 'finance'), ('age', 31), ('salary', 10000), ('bonus', 30000), ('is_manager', True), ('is_executive', False), ('company', 'Acme')])

In [ ]:
# updating

weather_data['temp'] = 35

In [ ]:
weather_data

{'date': '2022-01-01',
 'temp': 35,
 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'Lucknow',
 'type': 'sunshine',
 'icon': 'ðŸŒž'}

In [14]:
# adding data

emp_dict['designation'] = 'Asst A'
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 10000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme', 'designation': 'Asst A'}

In [16]:
# updating data

emp_dict['designation'] = 'Section Manager'
print(emp_dict)
emp_dict['salary'] = 30000
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 3000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme', 'designation': 'Section Manager'}
{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 30000, 'bonus': 30000, 'is_manager': True, 'is_executive': False, 'company': 'Acme', 'designation': 'Section Manager'}

In [21]:
# data removal/ value removal

if 'is_executive' in emp_dict:
    emp_dict.pop('is_executive')

In [18]:
emp_dict

{'fname': 'Amar',
 'lname': 'deep',
 'dept': 'finance',
 'age': 31,
 'salary': 30000,
 'bonus': 30000,
 'is_manager': True,
 'company': 'Acme',
 'designation': 'Section Manager'}

In [29]:
reports = {
    '001': {
        'name' : 'Amar',
        'subjects' : {'English':80 , 'Maths':90 , 'Science':95}
    },
    '002' : {
        'name' : 'Vijay',
        'subjects' : {'English':70 , 'Maths':60 , 'Science':85}
    },
    '003' : {
        'name' : 'Raj',
        'subjects' : {'English':60 , 'Maths':90 , 'Science':45}
    },
}

In [23]:
reports

{'001': {'name': 'Amar',
  'subjects': {'English': 80, 'Maths': 90, 'Science': 95}},
 '002': {'name': 'Vijay',
  'subjects': {'English': 70, 'Maths': 60, 'Science': 85}},
 '003': {'namme': 'Raj',
  'subjects': {'English': 60, 'Maths': 90, 'Science': 45}}}

In [28]:
for roll , data in reports.items():     #to take out the values from items and keep it in roll and data.
    print(roll)
    for key, val in data.items():
        print(key)
        if isinstance(val,dict):       #checks the data type
            for sub,marks in val.items():
                print(sub,marks)
        else:
            print(key ,val)
        print('--'*10)

001
name
name Amar
--------------------
subjects
English 80
Maths 90
Science 95
--------------------
002
name
name Vijay
--------------------
subjects
English 70
Maths 60
Science 85
--------------------
003
namme
namme Raj
--------------------
subjects
English 60
Maths 90
Science 45
--------------------

In [32]:
# for total marks:

for roll , data in reports.items():    
    print(roll)
    for key, val in data.items():
        print(key)
        total = 0                        # before loop set toatl marks to 0
        if isinstance(val,dict):       
            for sub,marks in val.items():
                print(sub,marks)
                total= total + marks      # add marks
            print(f'total:{total}/300')   # display
        else:
            print(key ,val)
        print('--'*10)

001
name
name Amar
--------------------
subjects
English 80
Maths 90
Science 95
total:265/300
--------------------
002
name
name Vijay
--------------------
subjects
English 70
Maths 60
Science 85
total:215/300
--------------------
003
name
name Raj
--------------------
subjects
English 60
Maths 90
Science 45
total:195/300
--------------------

In [33]:
# for average marks calculation

for roll , data in reports.items():    
    print(roll)
    for key, val in data.items():
        print(key)
        total = 0                        # before loop set toatl marks to 0
        if isinstance(val,dict):       
            for sub,marks in val.items():
                print(sub,marks)
                total= total + marks      # add marks
            print(f'total:{total}/300')    # disply
            print(f'Prct: {total/300*100:.2f}%')   # display
        else:
            print(key ,val)
        print('--'*10)

001
name
name Amar
--------------------
subjects
English 80
Maths 90
Science 95
total:265/300
Prct: 88.33%
--------------------
002
name
name Vijay
--------------------
subjects
English 70
Maths 60
Science 85
total:215/300
Prct: 71.67%
--------------------
003
name
name Raj
--------------------
subjects
English 60
Maths 90
Science 45
total:195/300
Prct: 65.00%
--------------------

File Handling
    - open a file
    - reading a file
    - writing a file
    - appeding a file

In [35]:
f = open('hello.py')             #when file is not present
print(f)

FileNotFoundError: [Errno 2] No such file or directory: 'hello.py'

In [37]:
f = open('example.py')
print(f.read())

name=input("enter your name")
print('welcome',name)
amount=input("how much tea will you take")
print("why would you want",amount,'tea?')

In [46]:
f = open(r'C:\Users\vrish\OneDrive\Desktop\fff\vrk.txt')
print(f.read())

hi there i am using whatsapp

In [48]:
f = open(r'C:\Users\vrish\OneDrive\Desktop\fff\vrk.txt')
print(f.read())
content = f.read()
print(f'{len(content)}characters')

hi there i am using whatsapp
0characters

In [51]:
data = 'hi everyone,this is a sample file'     #adding new file using data as per in this file.
with open('my data.txt', 'w') as file:         # new file gets created, if previously exists it overwrites it.
    file.write(data)

In [52]:
#not to be used way of the above shown way as if we dont want to clise the file the data will not be saved
#  file.open('mydata.txt','w')
# file.write(data)
# file.close()

In [55]:
# appending the data in a file

data = '\n this is the new data this is going to be written'
with open('mydata.txt', 'a') as file:     #write another data in the file
    file.write(data)

In [57]:
file = 'bio.txt'                    #new file creating with texts 
content = ''

while True:
    line = input('Enter a line(or q to quit):')
    if line == 'q':
        break
    content += line + '\n'

with open(file, 'w') as f:
    f.write(content)
    print(f'File{file} saved')

Filebio.txt saved