In [1]:
"Vrishi Raj Kesarwani"

'Vrishi Raj Kesarwani'

In [2]:
print("Vrishi")

Vrishi

In [3]:
print("Vrishi)

SyntaxError: EOL while scanning string literal (2549965770.py, line 1)

In [4]:
print("Raj")

Raj

In [5]:
print("1,2,3")

1,2,3

In [6]:
print(1,2,3)

1 2 3

In [7]:
print('Brahmastra',2022)

Brahmastra 2022

In [8]:
print('this is a line')
print('another line')
print('and the final text line')

this is a line
another line
and the final text line

In [9]:
a=10
print(a)

10

In [10]:
a=20
b=30
print(b,c)

NameError: name 'c' is not defined

In [11]:
a=20
b=30
print(a,b)

20 30

In [12]:
city='lucknow'
state='uttar pradesh'
name='vrishi'

In [13]:
name='raj'

In [14]:
n1,n2='vrishi','raj'

In [15]:
food=input()

In [16]:
pizza
burger

NameError: name 'pizza' is not defined

In [17]:
food=input()

In [18]:
a='apple'
type(a)

str

In [19]:
a=101
type(a)

int

In [26]:
a='300+'
print(a,type(a))

300+ <class 'str'>

In [21]:
b=int(a)

In [23]:
print(b,type(b))
print(a,type(a))

300 <class 'int'>
300 <class 'str'>

In [28]:
a=input("enter A=")
b=input("enter B=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)

<class 'str'> <class 'str'>
24

In [29]:
num1=int(input("enter num"))
num2=int(input("enter num"))
ans=num1+num2
print(ans)

245

# markdown

# operators

arithmetic operator

In [1]:
x=10
y=3

In [2]:
x+y

13

In [3]:
x-y

7

In [4]:
x*y

30

In [5]:
x/y

3.3333333333333335

In [7]:
x//y

3

In [8]:
x%y

1

In [9]:
x**y

1000

assignment operator

In [10]:
x=10
x+=5

In [11]:
x*=3

In [12]:
z+=5

NameError: name 'z' is not defined

comparison operator

In [13]:
x>10

True

In [14]:
y<3

False

In [15]:
'apple'='Apple'

SyntaxError: cannot assign to literal (722647585.py, line 1)

In [16]:
"apple"=="Apple"

False

In [17]:
x!=y

True

In [18]:
x==y

False

In [19]:
x>5 and x>100

False

In [20]:
x>5 or x>1

True

In [24]:
not x>100

True

instance operator

In [22]:
x is y

False

In [23]:
x is not y

True

membership operator

In [25]:
a=[1,3,8,10,2]

In [26]:
2 in a

True

In [27]:
11 in a

False

bitwise operator -

# formatted

## string and messages

l=10.5
b=6.10
area=l*b

In [28]:
l=10.5
b=6.10
area=l*b
print(area)

64.05

In [29]:
print(l,b,area)

10.5 6.1 64.05

In [30]:
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [31]:
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [32]:
print(f'(l)*(b)=(area)')

(l)*(b)=(area)

In [33]:
print(f'{l}*{b}={area:.1f}')

10.5*6.1=64.0

In [34]:
print(f'{l}*{b}={area:.3f}')

10.5*6.1=64.050